<div>
  <div>
    <h1>threadly</h1>
</div>
</div>

<div>
	<% form_for(@new_post) do |f| %>
	
		<%= f.text_field :comment %>
		<%= f.submit "post", :class =>"btn" %>
	<% end %>

    </div>
</div>

<ul>
	<% @all_posts.each do |p| %>
	  <li><%= p.comment %></li>
	<% end %>
	  <li>can you see?</li>
	  <li>It is not ok, again</li>
</ul>